<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<br>
<div>
    <button type="submit"><a href="/newpost" class="new-btn">New Post</a></button>
</div>

{{#each posts as |post|}}

{{/each}}